*.aux
.DS_STORE
*.glo
*.nav
*.snm
*.vrb
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.brf
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.m~
*.fls
*eps-converted-to.pdf
*.glsdefs
*.mat
*.class
.svn
